name: Build and release image

on:
  push:
    tags:
      - "v*"
  pull_request:
    tags:
      - "v*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check Ref
        run: |
          echo "Current ref: ${{  github.ref  }}"
          TAG_NAME="${{ github.ref_name }}"
          echo "TAG_NO_V=${TAG_NAME#v}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        run: |
          docker build -t halfnothing/fsd:${{ env.TAG_NO_V }} .
          docker push halfnothing/fsd:${{ env.TAG_NO_V }}